<div class="container">
  <%= render @restaurant %>
  <%= link_to "Go back to restaurants", restaurants_path%>
  <div>
    <% if @restaurant.reviews.count > 0 %>
      <h3>Reviews</h3>
      <ul>
        <% @restaurant.reviews.each do |review| %>
          <li>
            <div>
              <p><%= review.content %></p>
              <span>Rating: <%= review.rating %></span>
            </div>            
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <h2>Add Review</h2>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Add review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>