<div class="container">
  <%= render @restaurant %>
  <%= link_to "Go back to restaurants", restaurants_path%>
  <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

  <div>
    <% if @restaurant.reviews.count > 0 %>
      <h3>Reviews</h3>
      <ul>
        <% @restaurant.reviews.each do |review| %>
          <li>
            <div>
              <p><%= review.content %></p>
              <span>Rating: <%= review.rating %></span>
            </div>            
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>